@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "FogtwoNo5";
	font-style: normal;
	font-weight: normal;
	src: local("FogtwoNo5"), url("./assets/fonts/FogtwoNo5.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body[loading] > * {
	display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "FogtwoNo5";
	font-style: normal;
}
p,
span,
a,
div {
	font-family: "Montserrat";
}